$main-color: rgb(23 23 23);
$main-color--light: rgb(38 38 38);

$main-color--text: #E5E5E5;
$helper-color--text: #A3A3A3;

$helper-color: #4ADE80FF;
$helper-color--dark: #475453;


$main-color--error: rgb(239 68 68);
$main-color--error-light: #E35760;

$main-color--danger: #EAB308;

$main-blue: #40E0D0;
