@use "../vars/colors";

html {
  box-sizing: border-box;

  .nuxt-icon svg {
    margin-bottom: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
}
*::-webkit-scrollbar-thumb {
  background-color: colors.$main-color--light;
  border-radius: 12px;
}

